[submodule "über.mk"]
	url = https://github.com/bit2shift/uber.mk
	branch = bolota
	path = dep/über.mk
	ignore = all

[submodule "catch2"]
	url = https://github.com/catchorg/Catch2
	path = dep/Catch2
	ignore = all
